* {
    margin: 0%;
    padding: 0%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
    width: 0;
}

/* offer nav  */
.offer-bar {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    font-size: 1.5vw;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    color: #1D232C;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: white;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 25px;
    padding-right: 25px;
    z-index: 3;
}

.navbar-link {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

.navbar-link a {
    text-decoration: none;
    color: #1D232C;
}

.navbar-link a:hover {
    text-decoration: underline;
    color: #1D232C;

}


.navbar-search {
    border: solid #1D232C 1px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 95%;
}

.navbar-search input {
    border: none;
    width: 100%;
    background-color: transparent;

}

input:focus {
    outline: none;
}

.navbar-menu- {
    display: none;
}



@media screen and (max-width:800px) {

    .navbar-menu- {
        display: block;
    }

    .navbar-link {
        display: none;
    }



}

/* slide navbar  */


.side-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #1D232C;
    color: #E2E1E1;
    margin-left: -60%;
    transition-duration: 1s;
    z-index: 10;
    padding: 20px;

}

.side-navbar-link {
    margin-bottom: 30px;
}

.side-navbar-links a {
    text-decoration: none;
    color: #E2E1E1;
}

.side-navbar-links a:hover {
    text-decoration: underline;
    color: #E2E1E1;
}

.side-navbar-search {
    border: solid #E2E1E1 1px;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
}

.side-navbar-search input {
    border: none;
    background: transparent;
}

/* slider  */


.slider {
    overflow: hidden;
    display: flex;
    width: 100%;
    position: relative;

    border-radius: 5px;

}

.slider-image-container {
    display: flex;
    transition: 2s;

}

.slider-image {
    width: 100vw;
}

.slider-left-button {
    position: absolute;
    top: 35%;
    left: 5%;
    z-index: 1;
}

.slider-left-button i {
    font-size: 10vw;

}

.slider-right-button {
    position: absolute;
    top: 35%;
    right: 5%;
}

.slider-right-button i {
    font-size: 10vw;
}

.slider-content {
    position: absolute;
    color: white;
    text-align: center;
    width: 100%;
    top: 20%;
}

.slider-content h1 {
    font-size: 5vw;
}

.slider-content button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    ;
    color: #1b2f07;
}



.brand {
    display: flex;
    margin-top: 2vw;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;


}

.brand-icon {
    width: 4vw;
    align-items: center;

}

.brand-name {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 2vw;
}


.servives-container-1 {
    margin-top: 5vw;
    margin-bottom: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5vw;
    margin-left: 2%;
    margin-right: 2%;
}

.servives-container-2 {

    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 15px;
    font-size: 1vw;
    margin-right: 2%;
    margin-left: 2%;

}

.servives-container-2 div {
    border-radius: 5px;
    background-color: #d5dae1;
    padding: 10px;



}


.new-arrival {
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
    margin-left: 2%;
    margin-right: 2%;
}

.new-arrival-container {
    position: relative;
}

.new-arrival-container img {
    width: 100%;
    border-radius: 5px;

}

.overlay {
    border-radius: 2%;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(246, 241, 241);
    opacity: 0.4;
    z-index: 2;
    top: 0;
}

.new-arrival button {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 10%;
    padding-left: 10%;
    margin-top: 10px;
    font-size: 1vw;
    background-color: white;
    color: #23272e;
    position: absolute;
    border-radius: 10px;
    border: none;
    top: 50%;
    left: 26%;
    z-index: 2;
}

.most-wanted {
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
    gap: 20px;
    margin-left: 2%;
    margin-right: 2%;
}

.most-wanted-container {
    position: relative;
}

.most-wanted img {
    border-radius: 2%;


}

.sale-overlay {
    position: absolute;
    top: 2px;
    left: 3px;
    font-size: 2vw;
    background-color: rgb(210, 54, 54);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10%;
}

.most-wanted::-webkit-scrollbar {
    appearance: none;

}

.like-button {
    position: absolute;
    width: 12%;
    bottom: 12%;
    right: 4%;
}



.limited-offer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e3034;
    color: white;
    padding: 2px;
    font-size: 2vw;
    margin-top: 5vw;

}


.limited-offer img {
    width: 75%;
    height: 100%;
}

.limited-offer-text {
    padding: 5%;
}

.limited-offer button {
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    margin-top: 10px;
    font-size: 1.2vw;
    color: #1D232C;
    background-color: white;
    border-radius: 10px;
    border: none;
}

.initial-scroll-animate {

    transition: 5s;
}

.reveal-scroll-animate {
    opacity: 0;
}

.news {
    font-size: 2vw;
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news input {
    padding: 11px;
    width: 80vw;
    margin-bottom: 10px;
    border: solid #1D232C 3px;
    border-radius: 10px;

}

.news input:focus {
    outline: none;

}

.news button {

    margin-top: 10px;
    font-size: 1.8vw;
    color: #E2E1E1;
    background-color: #1D232C;
    border-radius: 10px;
    border: none;
    padding: 10px
}


.icon {
    width: 40px;
    margin: 2vw;

}

.footer {
    font-size: 2vw;
    margin-top: 5vw;
    padding: 40px;
    background-color: #1D232C;
    color: #E2E1E1;
    box-sizing: content-box;
}

.footer-container {

    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.footer-box-1 {
    display: flex;
    flex-direction: column;

}

.footer-box-2 {
    display: flex;
}

.contact-form {
    background-color: #1D232C;
    color: #dddddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 60vw;
    margin: auto;
    padding: 5vw;
    padding-right: 10vw;
    margin-top: 10px;
  }

  .contact-form h2 {
    margin-bottom: 1vw;
   
  }

  .contact-form label {
    display: block;
    margin-bottom: 1vw;
 
  }

  .contact-form input[type="text"],
  .contact-form textarea {
    width: 100%;
    padding: 2vw;
    border: 1px solid #dddddd;
    border-radius: 4px;
    margin-bottom: 1vw;
    font-size: 1vw;
    color: #1D232C;
    
  }

  .contact-form textarea {
    resize: vertical;
    height: 10vh;
  }

  .contact-form input[type="submit"] {
    
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    background-color: #0056b3;
  }

  .contact-form input[type="submit"]:hover {
    background-color: #a83939;
  }
.search-bar{
    display: flex;
    align-items: center;
}
  .search-input{
    width: 40%;
    padding: 2vw;
    border: 1px solid #0f0a0a;
    color: #1D232C;
    border-radius: 3px;
    margin-left: 30%;

}
.collection{
    margin-top: 3%;
    margin-left: 2%;
}